<a href="https://colab.research.google.com/github/acti12/2025_AlgoritmaDanPemrogaman-Pertemuan2/blob/main/Praktikum2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Praktikum 1 - Pengenalan Variable dan Tipe Data

In [ ]:
# Integer
umur = 20
print("Umur: ", umur, "→", type (umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

#String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))


# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print ("Hobi:", hobi, "→", type(hobi))

Umur:  20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} → <class 'set'>

# Praktikum 2 - Input dan Output Dasar

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm) : "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format ()
print("Halo {0}, umur Anda {1}, tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Rafael
Masukkan umur Anda: 19
Masukkan tinggi badan (cm) : 180
Halo, Rafael umur Anda: 19 tahun, tinggi: 180.0 cm
Halo Rafael, umur Anda 19, tahun, tinggi 180.0 cm
Halo Rafael, umur Anda 19 tahun, tinggi 180.0 cm

# Praktikum 03 - Operator Aritmatika

In [ ]:
a = 15
b = 14

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)
# Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar
# dengan operator yang sederhana dan intuitif.

a + b = 29
a - b = 1
a * b = 210
a / b = 1.0714285714285714
a // b = 1
a % b = 1
a ** b = 29192926025390625

# Praktikum 04 - Operator Relasional

In [10]:
x = 10
y = 20

print("x == y:", x == y)
print("x != y", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)
# Dalam kehidupan nyata, operator relasional bisa dipakai untuk mengecek
# apakah nilai ujian ≥ 60, atau apakah kehadiran mahasiswa memenuhi batas
# minimal.

x == y: False
x != y True
x < y : True
x > y : False
x <= y : True
x >= y : False

# Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [ ]:
# Operator logika dasar
a = True
b = False
print("a and b =", a and b)
print("a or b= ", a or b)
print ("not a  =", not a)

# Stidu kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian: "))
hadir = int(input("Masukkan jumlah kehadiran: "))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("status: TIDAK LULUS")

a and b = False
a or b=  True
not a  = False
Masukkan nilai ujian: 75
Masukkan jumlah kehadiran: 8
status: TIDAK LULUS

# Praktikum  06 - Program Kasir Sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang: "))
jumlah = int(input("Masukkan jumlah barang: "))

total = harga * jumlah
# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja ====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar :  Rp {bayar}")

Masukkan nama barang: Red Bull - Energy Drink
Masukkan harga barang: 25000
Masukkan jumlah barang: 12

===== Struk Belanja ====
Barang : Red Bull - Energy Drink
Jumlah : 12
Total : Rp 300000.0
Diskon : 10.0%
Bayar :  Rp 270000.0

# Penugasan 1 -Identitas Mahasiswa

In [1]:
# Menyimpan data ke dalam variabel
nama = "Rafael Marcello"
umur = 20
tinggi = 175.5
status_aktif = True

# Menampilkan data dengan format rapi menggunakan f-string
print(f"=== Identitas Mahasiswa ===")
print(f"Nama          : {nama}")
print(f"Umur          : {umur} tahun")
print(f"Tinggi Badan  : {tinggi} cm")
print(f"Status Aktif  : {status_aktif}")
print()

=== Identitas Mahasiswa ===
Nama          : Rafael Marcello
Umur          : 20 tahun
Tinggi Badan  : 175.5 cm
Status Aktif  : True

# Penugasan 2 - Operasi Aritmatika

In [2]:
# Meminta input dua bilangan dari pengguna
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua: "))

# Menampilkan hasil operasi
print(f"\n=== Hasil Operasi Aritmatika ===")
print(f"Penjumlahan      : {a} + {b} = {a + b}")
print(f"Pengurangan      : {a} - {b} = {a - b}")
print(f"Perkalian        : {a} * {b} = {a * b}")
print(f"Pembagian        : {a} / {b} = {a / b}")
print(f"Sisa Bagi (mod)  : {a} % {b} = {a % b}")
print(f"Perpangkatan     : {a} ** {b} = {a ** b}")
print()

Masukkan bilangan pertama: 12
Masukkan bilangan kedua: 24

=== Hasil Operasi Aritmatika ===
Penjumlahan      : 12 + 24 = 36
Pengurangan      : 12 - 24 = -12
Perkalian        : 12 * 24 = 288
Pembagian        : 12 / 24 = 0.5
Sisa Bagi (mod)  : 12 % 24 = 12
Perpangkatan     : 12 ** 24 = 79496847203390844133441536

# Penugasan 3 - Konversi Nilai

In [8]:
# Membaca input bilangan desimal
nilai = float(input("Masukkan angka desimal: "))

# Menampilkan hasil konversi
print(f"\n=== Hasil Konversi Nilai ===")
print(f"Sebagai Integer : {int(nilai)}")
print(f"Sebagai String  : '{str(nilai)}'")
print(f"Dibulatkan (2 angka di belakang koma) : {round(nilai, 2)}")
print()

Masukkan angka desimal: 233.523

=== Hasil Konversi Nilai ===
Sebagai Integer : 233
Sebagai String  : '233.523'
Dibulatkan (2 angka di belakang koma) : 233.52

# Penugasan 4 - Operator Relasional

In [9]:
# Membaca dua bilangan dari pengguna
x = float(input("Masukkan bilangan pertama: "))
y = float(input("Masukkan bilangan kedua: "))

# Menampilkan hasil perbandingan
print(f"\n=== Hasil Perbandingan ===")
print(f"{x} == {y}  : {x == y}")
print(f"{x} != {y}  : {x != y}")
print(f"{x} <  {y}  : {x < y}")
print(f"{x} >  {y}  : {x > y}")
print(f"{x} <= {y}  : {x <= y}")
print(f"{x} >= {y}  : {x >= y}")
print()

Masukkan bilangan pertama: 12
Masukkan bilangan kedua: 23

=== Hasil Perbandingan ===
12.0 == 23.0  : False
12.0 != 23.0  : True
12.0 <  23.0  : True
12.0 >  23.0  : False
12.0 <= 23.0  : True
12.0 >= 23.0  : False